In [ ]:
name = input("enter the name :")
print(name)

# Type casting
- converts one datatype into another

In [ ]:
num = '8'
print(num)
print(type(num))

8
<class 'str'>

In [ ]:
num = int(num)
print(num)
print(type(num))

8
<class 'int'>

In [81]:
age =int(input("what is your age ?: "))
print(age)
print(type(age))

ValueError: invalid literal for int() with base 10: 'enter'

# operator
- <h4>arithmetic: + , - , * , / , // , ** , % <h4>
- <h4>comparison: < , > , >= , <= , == , !=<h4>
- <h4>logic: and , or , not<h4>
- <h4>bitwise: & , | , ^<h4>
- <h4>membership: in <h4>

# <center>arithmetic</center>

- <h4> + <h4>
- <h4> - <h4>
- <h4> * <h4>
- <h4> / <h4>
- <h4> // <h4>
- <h4> ** <h4>
- <h4> % <h4>

In [ ]:
no1 =12
no2 =3

add = no1 + no2
sub = no1 - no2
mul = no1 * no2
div = no1 / no2
f_div = no1 // no2
exp = no1 ** no2
mod = no1 % no2

print("a+b =", add)
print("a-b =", sub)
print("a*b =", mul)
print("a/b =", div)
print("a//b =", f_div)
print("a**b =", exp)
print("a%b =", mod)

a+b = 15
a-b = 9
a*b = 36
a/b = 4.0
a//b = 4
a**b = 1728
a%b = 0

# <center> compairson <center>

- <h4> < <h4>
- <h4> > <h4>
- <h4> <= <h4>
- <h4> >= <h4>
- <h4> == <h4>
- <h4> != <h4>

In [ ]:
no1 = 12
no2 = 3
print("a>b :" ,no1>no2)
print("a<b :" ,no1<no2)
print("a==b :" ,no1==no2)
print("a!=b :" ,no1!=no2)

a>b : True
a<b : False
a==b : False
a!=b : True

# <center> logical <center>

- <h4> and <h4>
- <h4> or <h4>
- <h4> not <h4>

In [ ]:
print((5<10) and (10<14))
print((5<10) and (10<6))

print((5<10) or (10<6))

print(not True)
print(not False)

True
False
True
False
True

# <center>Bitwise<center>

- <h4> & <h4>
- <h4> | <h4>
- <h4> ^ <h4>

In [ ]:
print(10 & 4)
print(10 | 4)
print(10 ^ 3)

0
14
9

# <center>Membership<center>

- <h4> in <h4>

In [ ]:
"od" in "good morning"

True

# <center>control flow<center>

- <h4>if<h4>
- <h4>else<h4>
- <h4>elif<h4>

In [ ]:
age = 21
if (age >= 18):
    print("you are eligible to vote")
else:
    print("grow up")

you are eligible to vote

In [ ]:
age = 18
if (age >=18):
    print("you are eligible to vote")
elif(age >= 16):
    print("grow up first")    
else:
    print("go home kid")

you are eligible to vote

# <center>Loops<center>
- <h4>for loop<h4>
- <h4>while loop<h4>

In [ ]:
i = 1

while (i<=20):
    if (i%2 ==0):
        print(i , end=" ")
    i =i+1

2 4 6 8 10 12 14 16 18 20

In [ ]:
for i in range(1 ,21):
    if (i%2 ==0):
        print(i , end=" ")
    i =i+1

2 4 6 8 10 12 14 16 18 20

In [ ]:
for i in range(2 ,21,2):
        print(i , end=" ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
n = 5
for i in range(1 ,11):
        print(n,'x',i,'=', i*n , )

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# <center>Break and Continue<center>
- <h4>Break<h4>
- <h4>Continue<h4>

In [ ]:
for i in range (1 ,10):
    if (i==5):
        break
    print(i)

1
2
3
4

In [ ]:
for i in range (1 ,10):
    if (i==5):
        continue
    print(i)

1
2
3
4
6
7
8
9

# <center>PRIME NUMBERS<center>

In [ ]:
for i in range (1 ,50):
    if(i==1):
        continue
    elif (i==2 or i==3 or i==5 or i==7):
        print(i)
    elif(i%2==0 or i%3==0 or i%5==0 or i%7==0):
        continue
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
i=int(input('enter a number'))

if(i==1):
  print(i, 'is not a prime number')
elif (i==2 or i==3 or i==5 or i==7):
  print(i,'is a prine number')
elif(i%2==0 or i%3==0 or i%5==0 or i%7==0):
    print(i, 'is not a prime number')
else:
  print(i ,'is a prime number')

47 is a prime number

# <center>LARGEST NUMBER<center>

In [ ]:
n =(39, 49, 3999239, 69,277, 49949)
largest_num =max(n)
print(largest_num)

3999239

In [ ]:
num=list(map(int, input('enter 3 numbers').split()))
largest_num =max(num)
print(largest_num)

55

# <center>ODD VS EVEN<center>

In [ ]:
for i in range(1,10):
    if(i%2==0):
      print(i,"is even number")
    else:
      print(i,"is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [ ]:
i= int(input('enter a number'))
if(i%2==0):
      print(i,"is even number")
else:
      print(i,"is odd number")

99 is odd number

# <center>FACTORIALS<center>

In [ ]:
import math

i= int(input('enter a number'))
if (i==0 or i==1):
      print('factorial of' , i,'is', 1)
else:
      print('factorial of' , i, 'is' ,math.factorial(i))

factorial of 5 is 120

In [ ]:
import math

for i in range(1,10):
   if (i==0 or i==1):
      print('factorial of' , i,'is', 1)
   else:
      print('factorial of' , i, 'is' ,math.factorial(i))

factorial of 1 is 1
factorial of 2 is 2
factorial of 3 is 6
factorial of 4 is 24
factorial of 5 is 120
factorial of 6 is 720
factorial of 7 is 5040
factorial of 8 is 40320
factorial of 9 is 362880

# <center>Data Structures<center>
- <h4>string<h4>
- <h4>list<h4>
- <h4>tuple<h4>
- <h4>set<h4>
- <h4>dictionary<h4>

# <h3><center>String Slicing<center><h3>

In [ ]:
my_str ="welcome to coding"
print(my_str)

print(type(my_str))

welcome to coding
<class 'str'>

In [ ]:
my_str ="welcome to coding"
print(len(my_str))

print(my_str[0])
print(my_str[1])
print(my_str[len(my_str)-1])

17
w
e
g

In [ ]:
my_str ="welcome to coding"
print(my_str[-3])

i

In [ ]:
my_str ="welcome to coding"
print(my_str[2:4])
print(my_str[:-4])

lc
welcome to co

In [ ]:
my_str ="welcome to coding"
my_str.title()

'Welcome To Coding'

In [ ]:
my_str = "welcome to coding"
my_str.find('co')

3

In [ ]:
my_str = "welcome to coding"
my_str.split()

['welcome', 'to', 'coding']

In [ ]:
s = input("Enter a string: ")
if (s == s[::-1]):
    print(True)
else:
    print(False)

True

In [ ]:
my_str = "welcome to coding "
vowels = 'aeiouAEIOU'  


vowels_count = 0

for char in my_str:
    if char in vowels:
        vowels_count += 1

print(vowels_count)

6

# <center>lists<center>
- <h4>ordered/sequence<h4>
- <h4>indexable<h4>
- <h4>mutable<h4>
- <h4>can store heterogenous elements<h4>

In [ ]:
my_list = [6,5,3,7,4]
print(my_list)

[6, 5, 3, 7, 4]

In [ ]:
type(my_list)

list

In [ ]:
print( my_list[-2])

7

In [ ]:
print(my_list[1:-1])

[5, 3, 7]

In [ ]:
my_list[0] = 99
print(my_list)

[99, 5, 3, 7, 4]

In [ ]:
my_list.append(33)
print(my_list)

[99, 5, 3, 7, 4, 33]

In [ ]:
my_list.insert(2 ,8)
print(my_list)

[99, 88, 8, 88, 7]

In [ ]:
my_list.pop()
print(my_list)

[99, 88, 8, 88]

In [ ]:
my_list.reverse()
print(my_list)

[7, 88, 88, 99]

In [ ]:
my_list.sort()
print(my_list)

[7, 88, 88, 99]

In [ ]:
my_list.sort(reverse=True)
print(my_list)

[99, 88, 88, 7]

In [ ]:
1 in my_list

False

In [ ]:
new_list =[]
for ele in my_list:
    new_list.append(ele*2)
print(new_list)

[198, 176, 16, 176]

In [ ]:
new_list =[]
for ele in my_list:
    new_list.append(ele*2)
    
print(new_list)

[198, 176, 16, 176]

In [ ]:
new_list =[ele**2 for ele in my_list]
print(new_list)

[9801, 7744, 64, 7744]

In [ ]:
my_list_2 = [4, True ,98.3,[9,6,3],"pop",100]

print(my_list_2)

[4, True, 98.3, [9, 6, 3], 'pop', 100]

In [ ]:
print(len(my_list_2))

6

In [ ]:
print(my_list_2[3][2])

3

In [ ]:
num=list(map(int, input('enter numbers').split()))
print(num)
num.sort(reverse=True)
print(num[1])

[32, 21, 232, 32123, 21314]
21314

In [ ]:
num =[1, 2, 3, 9, 8, 7, 69, 4]
print(len(num))
print(num.sort())

8
None

In [ ]:
my_list =[12 ,33,55 ,9 ,34]
new_list2 =[ele**2 for ele in my_list]

print(new_list2)

[144, 1089, 3025, 81, 1156]

In [ ]:
len(new_list2)

5

In [ ]:
my_list_3 =  [[12,2,3],[76,7,9],[78,56,65]]
len(my_list_3)
print(my_list_3 [1][1])

7

In [ ]:
num = list(map(int, input("Enter numbers: ").split()))
seen = set()
unique_elements = []

for n in num:
    if n not in seen:
        unique_elements.append(n)
        seen.add(n)

print(" ".join(map(str, unique_elements)))

2 3 4 5 6 7

In [ ]:
num = list(map(int, input("Enter numbers: ").split()))
num = set(num)
print(num)

{1, 2, 3, 4, 6}

# <center>tuples<center>
- <h4>similar to list (read only)<h4>
- <h4>ordered, collection of items<h4>
- <h4>indexable<h4>
- <h4>immutable<h4>

In [ ]:
Tup =(8,9,"hello",39)
print(Tup)
print(Tup[1])
tup[1] = 1

(8, 9, 'hello', 39)
9

NameError: name 'tup' is not defined

# <center>set<center>
- <h4>contains only unique elements<h4>
- <h4>mutable<h4>
- <h4>unordered<h4>
- <h4>unindexable<h4>

In [ ]:
my_set ={9, 7, 7, 1, 8, 9, 5, 1}
print(my_set)

{1, 5, 7, 8, 9}

In [ ]:
my_set.add(99)
print(my_set)

{1, 99, 5, 7, 8, 9}

In [ ]:
my_set.remove(1)
print(my_set)

{99, 5, 7, 8, 9}

# <center>dictionary<center>
- <h4>stors data in key-value pair<h4> 
- <h4>unordered<h4> 
- <h4>unindexable<h4> 
- <h4>access the value, with help of key <h4>

In [ ]:
user_info ={
    "name" : "kuval",
    "age" : "21",
    "nationality" : "indian",
}

print(user_info)

{'name': 'kuval', 'age': '21', 'nationality': 'indian'}

In [ ]:
print(user_info['name'])

kuval

In [ ]:
user_info['hobby'] =['cricket' , 'coding']
print(user_info)

{'name': 'kuval', 'age': '21', 'nationality': 'indian', 'hobby': ['cricket', 'coding']}

In [ ]:
user_info.keys()

dict_keys(['name', 'age', 'nationality', 'hobby'])

In [ ]:
user_info.values()

dict_values(['kuval', '21', 'indian', ['cricket', 'coding']])

In [ ]:
user_info.items()

dict_items([('name', 'kuval'), ('age', '21'), ('nationality', 'indian'), ('hobby', ['cricket', 'coding'])])

In [ ]:
for k,v in user_info.items():
    print(k,"  : ",v)

name   :  jon doe
age   :  21
hobby   :  ['cricket', 'coding']

In [ ]:
user_info.pop('nationality')

'indian'

In [ ]:
user_info['name'] = 'jon doe'
print(user_info)

{'name': 'jon doe', 'age': '21', 'hobby': ['cricket', 'coding']}

In [ ]:
def greeting(name):
    print("good morning", name)

In [ ]:
print(greeting)
print(type(greeting))

<function greeting at 0x000002402CC04220>
<class 'function'>

In [ ]:
greeting("kuval")

good morning kuval

In [ ]:
def add(a, b):
    return (a+b)

In [ ]:
add (5,3)

8

In [ ]:
c = add(5,3)
print(c)

8

In [ ]:
def product(lst):
    s =1
    for i in lst:
        s*=i
    return s

In [ ]:
res = product([2,3,4,5])
print(res)

120

In [ ]:
def cal(a,b):
    return(a+b,a-b,a*b,a/b,a**b,a^b)

In [ ]:
cal_ret = cal(6,4)
print(cal_ret)

(10, 2, 24, 1.5, 1296, 2)

In [ ]:
cal = cal(12,3)
print(cal)

TypeError: 'tuple' object is not callable

- default Parameter

In [ ]:
def intro(name ,nationality="indian"):
    print("hello" ,name)
    print("i am",nationality)

In [ ]:
intro('mohit')

hello mohit
i am indian

In [ ]:
intro('john','american')

hello john
i am american

In [ ]:
def random_func(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i**2)

In [ ]:
random_func(10, 8, 9, 5, 3)

(10, 8, 9, 5, 3)
<class 'tuple'>
100
64
81
25
9

In [ ]:
def introduction(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [ ]:
introduction(name="kuval" ,age="21" ,hobby =['cricket' , 'coding'] ,nationality="indian")

{'name': 'kuval', 'age': '21', 'hobby': ['cricket', 'coding'], 'nationality': 'indian'}
<class 'dict'>

In [ ]:
def introduction(**kwargs):
    
    for k,v in kwargs.items():
        print(k, ":" ,v)

In [ ]:
introduction(name="kuval" ,age="21" ,hobby =['cricket' , 'coding'] ,nationality="indian")

name : kuval
age : 21
hobby : ['cricket', 'coding']
nationality : indian

# <center>built-in function<center>
- <h4>print( )<h4>
- <h4>abs( )<h4>
- <h4>round( )<h4>
- <h4>sum( ), max( ), min( )<h4>
- <h4>filter( )<h4>
- <h4>map( )<h4>

In [ ]:
abs(4.523)

4.523

In [ ]:
round(5.54943,3 )

5.549

In [ ]:
lst =[3,4,8,1,9,5,6]
sum(lst)

36

In [ ]:
min(lst)

1

In [ ]:
max(lst)

TypeError: 'int' object is not callable

In [ ]:
def add(x):
    return x+1

In [ ]:
add(100)

101

In [ ]:
print(lst)

[3, 4, 8, 1, 9, 5, 6]

In [ ]:
lst =[3,4,8,1,9,5,6]
def add(x):
    return x+1
map_ele= map(add,lst)
print(lst)

print(map_ele)
print(list (map_ele))

[3, 4, 8, 1, 9, 5, 6]
<map object at 0x00000220B8A8A470>
[4, 5, 9, 2, 10, 6, 7]

In [ ]:
def is_even(x):
    return x%2==0

In [ ]:
filter_ele = filter(is_even, lst)

print(filter_ele)
list(filter_ele)

<filter object at 0x00000220B8A89300>

[4, 8, 6]

In [ ]:
def is_odd(x):
    return x%2==1
filter_ele_2 = filter(is_odd,lst)
print(filter_ele_2)
list(filter_ele_2)

<filter object at 0x00000220B9784A00>

[1, 9, 5]

In [ ]:
print(lst)

lst.insert(3 ,6 )
print(lst)
lst = list(set(lst))

print(lst)

[8, 1, 9, 6, 6, 3, 6, 5, 6]
[8, 1, 9, 6, 6, 6, 3, 6, 5, 6]
[1, 3, 5, 6, 8, 9]

In [ ]:
lst.sort(reverse=True)
print(lst)

[9, 8, 6, 5, 3, 1]

In [86]:
import pandas

In [99]:
import pandas as pd
dataset=pd.read_csv(r"C:\Users\Kuvaladitya\Downloads\customers.csv")
dataset.head()

C:\Users\Kuvaladitya\AppData\Local\Temp\ipykernel_18624\3400054046.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv(r"C:\Users\Kuvaladitya\Downloads\customers.csv")

,Customer ID,Name,Email,Telephone,City,Country,Gender,Date Of Birth,Job Title
0,1,Tyler Garcia,tyler.garcia@fake_gmail.com,922.970.2265x47563,New York,United States,M,2003-07-15,NaN
1,2,Joshua Miller,joshua.miller@fake_gmail.com,+1-958-729-6169,New York,United States,M,2000-06-16,Records manager
2,3,Alison Marshall DDS,alison.marshall.dds@fake_hotmail.com,+1-645-567-0876x5409,New York,United States,F,2003-07-22,NaN
3,4,Jeffery Acosta,jeffery.acosta@fake_yahoo.com,212.336.0912x84994,New York,United States,M,1996-11-12,Proofreader
4,5,Ashley Sanders,ashley.sanders@fake_hotmail.com,7814535781,New York,United States,F,1998-02-10,Exercise physiologist

In [100]:
test_df1=dataset.sample(20000,random_state=42)

In [101]:
test_df2=dataset.head(20000)

In [104]:
test_df3=dataset.iloc[10000:30000]

In [106]:
test_df1.to_csv(r"C:\Users\Kuvaladitya\Downloads\customers_sample.csv")

In [112]:
import pandas as pd
dataset_1=pd.read_excel(r"C:\Users\Kuvaladitya\Downloads\sample-data-10mins.xlsx")
dataset_1.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,5320,180
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,7896,94
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,4501,91
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,12726,342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,13685,184

# <center>modules<center>

In [113]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [114]:
math.factorial(5)

120

In [115]:
math.ceil(9.4)

10

In [117]:
from math import gcd
gcd (12,16)

4

In [121]:
import random
random.random()

0.7399404765190836

In [123]:
import os
os.getcwd()

'c:\\Users\\Kuvaladitya\\python for ds'

# <center>object-Oriented Programming<center>

In [142]:
class human():
    pass

In [143]:
kuval=human()

In [144]:
# creating an object
type(kuval)

__main__.human

In [145]:
print(type(kuval))

<class '__main__.human'>

#<center><h4>def __ init __(self) <h4><center>

In [152]:
class human:
    def __init__(self,name,age):
        print("creating an objet")
        self.name= name
        self.age= age

In [ ]:
h1=human("kuval",21)

creating an objet

In [158]:
h2=human("mohit",23)

creating an objet

In [160]:
print(h1.name)
print(h2.age)

kuval
23

In [14]:
class intro():
    def __init__(self,name,age):
        print("creating an object")
        self.name=name
        self.age=age
    
def introduce(self):
    print("hi,my name is",self.name,"my age is", self.age)

In [ ]:
h1=intro("kuval",21)
h2=intro("mohit",23)

creating an object
creating an object

TypeError: 'intro' object is not callable